body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 5px #DA0463;

}

button{
  cursor: pointer;
}
footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
 background-image: url(./images/tom1.png);
}

.a {
 background-image: url(./images/crash.png);
}

.s {
 background-image: url(./images/tom2.png);
}

.d {
 background-image: url(./images/snare.png);
}

.j {
 background-image: url(./images/tom3.png);
}

.k {
 background-image: url(./images/kick.png);
}

.l {
 background-image: url(./images/tom4.png);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.w {
 background-image: url('/images/tom1.png');
}
.a {
 background-image: url('/images/crash.png');
}
.s {
 background-image: url('/images/tom2.png');
}
.d {
 background-image: url('/images/snare.png');
}
.j {
 background-image: url('/images/tom3.png');
}
.k {
 background-image: url('/images/kick.png');
}
.l {
 background-image: url('/images/tom4.png');
}
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  background-size: cover;
background-position: center;
}
